/* input.css */

.chat-input-area {
    display: flex;
    min-height: fit-content;
    width: 100%;
    position: relative;
    background-color: #e0e0e0;
    border-radius: 25px;
    padding: 2px;
    border: none;
}

.chat-input-area > div {
    align-items: center;
    display: flex;
    flex: 1;
    position: relative;
}

.chat-header #settings-button {
    align-items: center;
    background-color: rgb(0, 123, 255);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: auto;
    justify-content: center;
    margin-left: 12px;
    margin-right: 10px;
    padding: 6px 10px;
    position: relative;
    top: 0px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    z-index: 1;
}

.chat-header #settings-button:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
}

.chat-header #settings-button:active {
    background-color: #004085;
    transform: translateY(0);
}

#attach-button {
    align-items: center;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    margin-left: 12px;
    margin-right: 3px;
    padding: 0px 5px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    z-index: 1;
    position: relative;
    width: 40px;
    font-size: 18px; /* 设置字体大小 */
}

#attach-button:active {
    background-color: #004085;
    transform: translateY(0);
}

#attach-button:hover {
    background-color: #0056b3;
}

.input-wrapper {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 20px;
    height: 40px;
    padding: 2px;
}

#message-input {
    border: none;
    border-radius: 23px;
    flex: 1;
    font-size: 14px;
    height: 40px;
    margin-right: 1px;
    margin-left: 1px;
    min-height: 40px;
    padding: 0 8px;
    resize: none;
    outline: 0;
    box-shadow: none;
    transition: box-shadow 0.2s ease;
    background-color: #f0f0f0;
    line-height: 40px;
    vertical-align: middle;
    width: calc(100% - 18px);
    overflow: hidden;
}

#message-input:focus {
    outline: 0;
    box-shadow: none;
}

#send-button {
    align-items: center;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    margin-left: 5px;
    padding: 0;
    transition: background-color 0.2s ease;
    z-index: 1;
    position: relative;
    right: 0;
    width: 40px;
    font-size: 15px; /* 设置字体大小 */
    line-height: 0.1; /* 设置字体大小 */
    transform: rotate(-30deg); /* 逆时针旋转15度 */
}

#send-button:active {
    background-color: #004085;
}

#send-button:hover {
    background-color: #0056b3;
}

.down-input {
    border-top: none;
    display: flex;
    min-height: fit-content;
    padding: 10px;
    background-color: #fff;
    position: relative;
}

.down-input button {
    border: none;
}

.down-input #message-input {
    border: none;
}

body.dark-mode .chat-input-area {
    background-color: #444;
}

body.dark-mode .down-input {
    background-color: #333;
}

body.dark-mode .input-wrapper {
    background-color: #555;
}

body.dark-mode #message-input {
    background-color: #444 !important;
} 