/* modal.css */

.close-button {
    color: #aaa;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:focus,
.close-button:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    color: #333;
    margin: 15% auto;
    max-width: 500px;
    padding: 20px;
    position: relative;
    width: 80%;
}

.modal-content input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
}

.modal-content label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#save-settings-button {
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px 15px;
    transition: background-color 0.2s ease;
}

#save-settings-button:active {
    background-color: #004085;
}

#save-settings-button:hover {
    background-color: #0056b3;
} 